/* Root */
:root {
  --black-theme--background: #111;
  --black-theme-color: #fff;
  --black-theme-history: #333;
  --black-theme-btn: #333;
  --icon-color: #fc930a;
  --equal-theme-color: #fc930a;
  --equal-color: #fff;
}

/* Geral */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black-theme--background);
  height: 100dvh;
}

.hide {
  display: none !important;
}

#header-container .focus {
  opacity: 1;
}

.less-opacity {
  opacity: 0.4;
  transition: 0.4s;
}

/* Header */
#header-container header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  margin-bottom: 1rem;
}

#header-container button {
  background: none;
  border: none;
  color: var(--black-theme-color);
  padding: 10px;
  font-size: 1rem;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}

/* Calculate-table */
#calculate-table {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  color: var(--black-theme-color);
  padding: 0 100px;
  margin: 20px 0;
  height: 400px;
  font-size: 1.4rem;
  font-weight: bold;
}

#calculate-table #previous-operation {
  color: var(--black-theme-history);
}

#calculate-table #in-operation {
  margin-bottom: 20px;
  font-size: 2rem;
}
/* Numbers table */
#numbers-table {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

#numbers-table button {
  width: 110px;
  height: 70px;
  background-color: var(--black-theme-btn);
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  color: var(--black-theme-color);
  font-weight: bold;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
}

#numbers-table button:hover {
  opacity: 1;
}

#numbers-table .block {
  justify-content: space-between;
  gap: 10px;
}

#numbers-table .icon {
  color: var(--icon-color);
}

#numbers-table .number {
  font-weight: 100;
}

#numbers-table #equal-btn {
  background-color: var(--equal-theme-color);
  color: var(--equal-color);
}

/* Media query */
@media (max-width: 450px) {
  #header-container {
    width: 90%;
  }
  #calculate-table {
    padding: 0 25px;
  }

  #numbers-table {
    flex-direction: row;
    gap: 15px;
    width: 100%;
    height: 100%;
    max-height: 50px;
    margin: 0 auto;
    text-align: center;
  }

  #numbers-table button {
    width: 45px;
    height: 35px;
  }
}

/* Conversor table */
#conversor-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 130px);
  gap: 30px;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
}

#conversor-table button {
  width: 90px;
  height: 70px;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: var(--black-theme-color);
  font-weight: bold;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
}

#conversor-table button:hover {
  opacity: 1;
}

/* More options */
#more-options-container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

#more-options {
  position: relative;
}

#header-container #history-btn,
#header-container #toggle-theme-btn {
  background-color: var(--black-theme-btn);
  border-radius: 25px;
  width: 200px;
  margin: 10px;
  position: absolute;
  top: 10px;
  left: 605px;
  opacity: 1;
}

#header-container #toggle-theme-btn {
  top: 55px;
}
