<div class="numbers-table">
  <div class="block">
    <button>2nd</button>
    <button>deg</button>
    <button>sin</button>
    <button>cos</button>
    <button>tan</button>
  </div>

  <div class="block">
    <button>x²</button>
    <button>lg</button>
    <button>ln</button>
    <button>(</button>
    <button>)</button>
  </div>

  <div class="block">
    <button>√x</button>
    <button>C</button>
    <button>DEL</button>
    <button>%</button>
    <button>÷</button>
  </div>

  <div class="block">
    <button>x!</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>×</button>
  </div>

  <div class="block">
    <button>1/x</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>−</button>
  </div>

  <div class="block">
    <button>π</button>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>+</button>
  </div>

  <div class="block">
    <button>
      <i class="fi fi-tr-arrows-repeat"></i>
    </button>
    <button>e</button>
    <button>0</button>
    <button>.</button>
    <button>=</button>
  </div>
</div>
