<div id="header-container">
  <header>
    <button data-screen="swipe-screen" id="swipe-screen">
      <i class="fi fi-ts-arrow-up-right-and-arrow-down-left-from-center"></i>
    </button>
    <button data-screen="calculator" id="calc-option" class="focus">
      Calculadora
    </button>
    <button data-screen="conversor" id="conv-options">Conversor</button
    ><button
      data-screen="more-options"
      id="more-options"
      data-action="more-options"
    >
      <i class="fi fi-tr-square-ellipsis-vertical"></i>
    </button>
    <div id="more-options-container" class="hide">
      <button data-screen="history" id="history-btn">Histórico</button>
      <p>Mudar tema</p>
      <div class="toggle-color-theme">
        <button id="left" class="color-btn toggle-color-btn">
          <i class="fi fi-br-angle-left"></i>
        </button>
        <div class="preview"></div>
        <button id="right" class="color-btn toggle-color-btn">
          <i class="fi fi-br-angle-right"></i>
        </button>
      </div>
      <div id="toggle-base-theme">
        <button id="light" class="color-btn toggle-base-btn">Claro</button>
        <button id="dark" class="color-btn toggle-base-btn">Escuro</button>
      </div>
    </div>
  </header>
</div>
