<div id="header-container">
  <header>
    <button data-screen="swipe-screen" id="swipe-screen">
      <i class="fi fi-ts-arrow-up-right-and-arrow-down-left-from-center"></i>
    </button>
    <button data-screen="calculator" id="calc-option" class="focus">
      Calculadora
    </button>
    <button data-screen="conversor" id="conv-options">Conversor</button
    ><button
      data-screen="more-options"
      id="more-options"
      data-action="more-options"
    >
      <i class="fi fi-tr-square-ellipsis-vertical"></i>
    </button>
    <div id="more-options-container" class="hide">
      <button data-screen="history" id="history-btn">Histórico</button>
      <button id="toggle-theme-btn">Mudar tema</button>
    </div>
  </header>
</div>
