<div class="keyboard">
  <div class="block">
    <button class="ac-btn">AC</button>
    <button class="operation delete-btn">DEL</button>
    <button class="operation percentage-btn">%</button>
    <button class="operation divider-btn">/</button>
  </div>
  <div class="block">
    <button class="number seven">7</button>
    <button class="number eight">8</button>
    <button class="number nine">9</button>
    <button class="operation multiplication-btn">*</button>
  </div>
  <div class="block">
    <button class="number four">4</button>
    <button class="number five">5</button>
    <button class="number six">6</button>
    <button class="operation subtraction-btn">-</button>
  </div>
  <div class="block">
    <button class="number one">1</button>
    <button class="number two">2</button>
    <button class="number three">3</button>
    <button class="operation sum-btn">+</button>
  </div>
  <div class="block">
    <button class="operation swipe-numbers-table">
      <i class="fi fi-tr-arrows-repeat"></i>
    </button>
    <button class="number zero">0</button>
    <button class="dot-btn operation">.</button>
    <button class="equal-btn">=</button>
  </div>
</div>
